<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pertamina | Create PIN</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link rel="icon" href="assets/favicon.ico" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/btnCostum.css" rel="stylesheet">
  <link href="assets/css/pertaminaCore.css" rel="stylesheet">

  <link href="assets/css/inputCostum.css" rel="stylesheet">
  <!-- <link href="assets/css/styleCostum.css" rel="stylesheet"> -->

  <!-- *Toastr Link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">


  <!-- Bootstrap Icon -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">



  <!-- =======================================================
  * Template Name: Green
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/green-free-one-page-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->

  <!-- Toastr -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


  <style>
    .img-responsive {
      max-width: 100%;
      height: auto;
      }

  </style>

  <style>
    /* Tambahkan styling sesuai kebutuhan Anda */
    .hidden {
      display: none;
    }
  </style>




  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: #32599C;">
    <div class="container d-flex align-items-center">

      <div class="d-flex">

        <h1 class="logo me-auto">
          <a class="navbar-brand me-3" href="#">
            <img src="assets/img/logo.png" alt="Logo" width="200" height="48" class="d-inline-block align-text-top">
            
          </a>
        </h1>  
        <a href="/" class="fs-3 fw-bold text-white">| SIBER CSMS</a>
      </div>
      
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar ms-auto">
        <ul>
          <li><a class="nav-link scrollto" href="#hero">Beranda</a></li>
          <li><a class="nav-link scrollto" href="#berita">Tentang Kami</a></li>
          <!-- <li><a class="nav-link scrollto" href="#topik">Topik Utama</a></li> -->
          <!-- <li><a class="nav-link scrollto " href="#creator">Creator</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
          <!-- <li class="dropdown"><a href="#"><span>Lainnya</span> <i class="bi bi-chevron-down"></i></a>
            <ul> 
              <li><a href="#contact">Kontak</a></li>
              <li><a href="#creator">Creator</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
          <!-- <li><a class="getstarted scrollto" data-bs-toggle="modal" data-bs-target="#exampleModal" href="">Log Out</a></li> -->
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->

  <main id="main">


    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="/"><i class="fa-solid fa-house mx-1"></i>Beranda</a></li>
            <li>Create PIN</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->



<!-- ======= Login Us Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="section-title">
                <h2>CREATE PIN PERTAMINA</h2>
            </div>
    
                <div class="mx-auto col-7 mt-1"> 
                    <form action="/createPIN" method="POST">

                        <div class="form-floating d-flex">
                            <input type="password"  class="form-control" name="password" id="pin" oninput="checkPINLength()" maxlength="11" placeholder="PIN" required>
                            <label for="pin">PIN</label>
                            <button type="button" class="btn btn-outline-light"><i class="text-dark bi bi-eye-slash" onclick="togglePasswordVisibility()"></i></button>
                        </div>
                            <div class="form-text ms-2" id="basic-addon4">*) Masukkan PIN Anda</div>
                    
                        <div class="form-floating d-flex mt-3">
                            <input type="password" class="form-control" id="confirmPin" oninput="checkConfirmPIN()" maxlength="11" placeholder="Ulang-PIN" required>
                            <label for="confirmPin">Masukkan Ulang-PIN</label>
                            <button type="button" class="btn btn-outline-light"><i class="text-dark bi bi-eye-slash" onclick="togglePasswordVisibility()"></i></button>
                        </div>
                            <div class="form-text ms-2" id="confirmationMessage"></div>
                    

                        <div class="text-center mb-5 pb-5">
                            <!-- <button type="submit" data-bs-target="#confirmCreatePINModal" data-bs-toggle="modal" id="btnSubmit" class="mt-4 btn btn-submit">Create</button> -->
                            <button type="submit" id="btnSubmit" class="mt-4 btn btn-submit">Create</button>
                        </div>
                    </form>
               </div>
        </div>
  </section><!-- End About Us Section -->

  </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    

    <!-- End Footer -->

    <!-- Kode HTML untuk modal -->
    <div class="modal fade" id="confirmCreatePINModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Konfirmasi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Apakah anda ingin membuat PIN ini.
            </div>      
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Iya</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Tidak</button>
            </div>
            </div>
        </div>
    </div>
    
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- JavaScript to show the modal automatically -->
  <script>
    $(document).ready(function() {
      $('#greetingModal').modal('show');
    });
  </script>

  <script>
    function togglePasswordVisibility() {
    const PINInput = document.getElementById("pin");
    const eyeIcon = document.querySelector(".bi-eye-slash");

      if (PINInput.type === "password") {
        PINInput.type = "text";
        eyeIcon.classList.remove("bi-eye-slash");
        eyeIcon.classList.add("bi-eye");
      } else {
        PINInput.type = "password";
        eyeIcon.classList.remove("bi-eye");
        eyeIcon.classList.add("bi-eye-slash");
      }
    }

    function checkConfirmPIN() {
    var pinInput = document.getElementById('pin').value;
    var confirmPinInput = document.getElementById('confirmPin').value;
    var confirmationMessage = document.getElementById('confirmationMessage');

    const buttonSubmit = document.getElementById('btnSubmit')

    if (pinInput !== confirmPinInput) {
      confirmationMessage.textContent = 'PIN tidak sesuai. Harap masukkan ulang dengan benar.';
      confirmationMessage.style.color = 'red';
      buttonSubmit.classList.add("disabled")

    } else {
      confirmationMessage.textContent = '';
      buttonSubmit.classList.remove("disabled")
    }
  }

  </script>

  <script src="assets/js/notificationToastr.js"></script>

  <script src="assets/js/optionLogin.js"></script>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <!-- <script src="assets/js/rssNews.js"></script> -->
</body>

</html>