<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title><%= berandaTitle %></title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="description">
  <meta name="keywords">
  <meta name="author" content="PT Pertamina (Persero)">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link rel="icon" href="assets/favicon.ico" />


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/btnCostum.css" rel="stylesheet">
  <link href="assets/css/pertaminaCore.css" rel="stylesheet">
  <!-- <link href="assets/css/styleCostum.css" rel="stylesheet"> -->

  <!-- =======================================================
  * Template Name: Green
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/green-free-one-page-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <style>
    .img-responsive {
      max-width: 100%;
      height: auto;
      }

  </style>

  <style>
    /* Tambahkan styling sesuai kebutuhan Anda */
    .hidden {
      display: none;
    }
  </style>

  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>


  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: #32599C;">
    <div class="container d-flex align-items-center">

      <div class="d-flex">

        <h1 class="logo me-auto">
          <a class="navbar-brand me-3" href="/">
            <img src="assets/img/logo.png" alt="Logo" width="200" height="48" class="d-inline-block align-text-top">
            
          </a>
        </h1>  
        <a href="/" class="fs-3 fw-bold text-white">| SIBER CSMS</a>
      </div>
      
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar ms-auto">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Beranda</a></li>
          <li><a class="nav-link scrollto" href="#contact">Tentang Kami</a></li>
          <!-- <li><a class="nav-link scrollto" href="#topik">Topik Utama</a></li> -->
          <!-- <li><a class="nav-link scrollto " href="#creator">Creator</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
          <!-- <li class="dropdown"><a href="#"><span>Lainnya</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#contact">Kontak</a></li>
              <li><a href="#creator">Creator</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
          <!-- <li><a class="getstarted scrollto" data-bs-toggle="modal" data-bs-target="#exampleModal" href="">Log Out</a></li> -->
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->



  <!-- ======= Hero Section ======= -->
  <section id="hero" class="mb-5">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/pertamina-field1.png)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Selamat Datang <span></span></h2>
              <h3 class="animate__animated animate__fadeInDown text-white">di Sistem Informasi Verifikasi Berkas CSMS Pertamina Limau Field</h3>
              <p class="animate__animated animate__fadeInUp">Melalui platform ini, kami berkomitmen untuk memastikan setiap proses verifikasi CSMS (Contractor Safety Management System) berlangsung dengan lancar dan memenuhi standar keselamatan tertinggi. </p>
              <a href="#heroCarousel" role="button" data-bs-slide="next" class="btn-get-started animate__animated animate__fadeInUp scrollto">Baca Lanjut</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/pertamina-field2.png)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Apa Tujuan Utama?</h2>
              <p class="animate__animated animate__fadeInUp">Tujuan utama dari pengembangan sistem ini adalah untuk menyederhanakan dan mempercepat proses verifikasi berkas CSMS, sehingga memungkinkan tim verifikasi dan pemangku kepentingan terkait dapat dengan lebih cepat dan efektif memastikan kepatuhan terhadap standar keselamatan dan kesehatan kerja. </p>
              <a href="#heroCarousel" role="button" data-bs-slide="next" class="btn-get-started animate__animated animate__fadeInUp scrollto">Baca Lanjut</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide)">
          <div class="carousel-container">
            <div class="container">
              <!-- <h2 class="animate__animated animate__fadeInDown"></h2>
              <p class="animate__animated animate__fadeInUp">Pada laman informasi ini kami menyediakan beberapa beberapa topik yang dibahas dan hal yang tidak dipatuhi oleh masyarakat sekitar dan sanksi seperti apa yang diberikan berdasarkan UU  . </p> -->
              <a href="#berita"  class="btn-get-started animate__animated animate__fadeInUp scrollto">Menuju Sesi Login</a>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>


    </div>
  </section><!-- End Hero -->


  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services section-bg">
      <div class="container">
        <div class="row">

        </div>
      </div>
    </section><!-- End Featured Services Section -->



    <!-- ======= About Us Section ======= -->
    <section id="berita" class="about">
      <div class="container">

        <div class="section-title">
          <h2>LOGIN SEBAGAI</h2>
          <p>Silahkan memilih opsi berikut</p>
          
          <div class="mt-2">
            <a href="/login-pertamina" class="btn btn-access-login" id="pertamina-opsi" style="padding: 14px 15px;">Pertamina</a>
            <a href="/form-pengusulan-data-mitra" class="btn btn-access-login" id="mitra-opsi">Mitra</a>
          </div>

        </div>
      </div>
    </section><!-- End About Us Section -->





    <!-- ======= Cta Section ======= -->
    <section id="topik" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>TENTANG KAMI</h3>
            <!-- <p>Topik utama yang diangkat di laman informasi hukum merupakan permasalahan yang diangkat dari keseharian yang ada di lingkungan sekitar.</p> -->
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <!-- <a class="cta-btn align-middle" href="#finaltopik" >MASUK TOPIK UTAMA </a> -->
            
          </div>
        </div>
      </div>
    </section><!-- End Cta Section -->

  
      
      <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="row">

          <div class="col-lg-12 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Jalan Pahlawan No 7A</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>kelurahanfatufeto@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p></p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.6288485952623!2d104.22628953551637!3d-3.440129546745966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e3a324fcedb63fb%3A0xe4bd5ac3986994f6!2sPT%20PERTAMINA%20EP%20ASSET%202%20LIMAU%20FIELD!5e0!3m2!1sen!2sid!4v1700820721821!5m2!1sen!2sid" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>SIBER - CSMS</h3>
      <p> </p>
      <div class="social-links">
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/pertamina/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://twitter.com/pertamina" class="google-plus"><i class="bx bxl-twitter"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>2023 SIBER-CSMS Pertamina Limau Field</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/green-free-one-page-bootstrap-template/ -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- JavaScript to show the modal automatically -->
  <script>
    $(document).ready(function() {
      $('#greetingModal').modal('show');
    });
  </script>

  <script src="assets/js/optionLogin.js"></script>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <!-- <script src="assets/js/rssNews.js"></script> -->
</body>

</html>