    /* Add your existing styles here */
    /* Styles for the modal */
    .modal-content {
        background-color: #2C3E50;
        color: #ECF0F1;
      }
  
      .modal-header {
        border-bottom: 1px solid #BDC3C7;
      }
  
      .modal-title {
        color: #3498DB;
      }
  
      .modal-body, .modal-footer {
        border-top: 1px solid #BDC3C7;
      }
  
      /* Close button styles */
      .close {
        color: #3498DB;
      }
  
      .close:hover,
      .close:focus {
        color: #2980B9;
      }